@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Inter-var";
    src: url("/assets/fonts/inter-var-font.ttf") format("truetype");
    font-weight: 100 900;
    font-display: swap;
    font-variation-settings: "wght" 400;
  }

  body {
    @apply font-inter;
  }
}

@layer utilities {
  .text-gradient {
    color: transparent;
    background-clip: text;
    background-image: linear-gradient(
      to right,
      theme(colors.primary.600),
      theme(colors.primary.900)
    );
  }
}
